.code{
    display: flex;
    height: 400px;
    margin: 0px 0px;
}
.input-console{
    width: 100%;
    height: 100%;
}

p{
    margin:2px 0px;
}

.result-console {
    background-color: #1e1e1e;
    font-size: 14px;
    border-radius: 5px;
    position: relative;
    max-height: 500px;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* height: 400px; */
    margin-top: 0px;
}

.result {
    font-family: Consolas, monospace;
    color: #ffffff;
    padding: 10px 20px;
}

.error-console {
    background-color: #1e1e1e;
    font-size: 14px;
    border-radius: 5px;
    position: relative;
    max-height: 500px;
    width: 100%;
    overflow: auto;
    height: 250px;
    margin-top: 20px;
}

.error {
    font-family: Consolas, monospace;
    color: #c4c4c4;
    padding: 0px 20px;
    list-style:none;
}

